<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>uws</display-name>
	<servlet>
		<display-name>UwsServlet</display-name>
		<servlet-name>UwsServlet</servlet-name>
		<servlet-class>esavo.uws.UwsServlet</servlet-class>
		<init-param>
			<param-name>uws.app.id</param-name>
			<param-value>@uws.app.id@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.app.storage_dir</param-name>
			<param-value>@uws.app.storage_dir@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.max_running_jobs</param-name>
			<param-value>@uws.max_running_jobs@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.db.usage</param-name>
			<param-value>@uws.db.usage@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jdbc.dbServer</param-name>
			<param-value>@uws.jdbc.dbServer@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jdbc.dbPort</param-name>
			<param-value>@uws.jdbc.dbPort@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jdbc.dbName</param-name>
			<param-value>@uws.jdbc.dbName@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jdbc.dbOwner</param-name>
			<param-value>@uws.jdbc.dbOwner@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jdbc.dbPwd</param-name>
			<param-value>@uws.jdbc.dbPwd@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.db.quota</param-name>
			<param-value>@uws.db.quota@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.files.quota</param-name>
			<param-value>@uws.files.quota@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.exec_duration_limit</param-name>
			<param-value>@uws.exec_duration_limit@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.upload.enabled</param-name>
			<param-value>@uws.upload.enabled@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.upload.max_size</param-name>
			<param-value>@uws.upload.max_size@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.fixed_base_url</param-name>
			<param-value>@uws.fixed_base_url@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jobs_removal_check_time</param-name>
			<param-value>@uws.jobs_removal_check_time@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.jobs_delta_destruction_time</param-name>
			<param-value>@uws.jobs_delta_destruction_time@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.old_empty_dirs_cmp_time</param-name>
			<param-value>@uws.old_empty_dirs_cmp_time@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.events_removal_check_time</param-name>
			<param-value>@uws.events_removal_check_time@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.events_delta_destruction_time</param-name>
			<param-value>@uws.events_delta_destruction_time@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.notifications_removal_check_time</param-name>
			<param-value>@uws.notifications_removal_check_time@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.notifications_delta_destruction_time</param-name>
			<param-value>@uws.notifications_delta_destruction_time@</param-value>
		</init-param>

		<init-param>
			<param-name>uws.ldap.server</param-name>
			<param-value>@uws.ldap.server@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.ldap.search_base</param-name>
			<param-value>@uws.ldap.search_base@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.ldap.usr</param-name>
			<param-value>@uws.ldap.usr@</param-value>
		</init-param>
		<init-param>
			<param-name>uws.ldap.pwd</param-name>
			<param-value>@uws.ldap.pwd@</param-value>
		</init-param>



	</servlet>
	<servlet-mapping>
	    <servlet-name>UwsServlet</servlet-name>
	    <url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
